.log-wrapper {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}

.board-wrapper {
  display: flex;
  justify-content: center;
}

.entry {
  display: flex;
  flex-wrap: wrap;
  font-size: 28px;
  div {
    border: 1px white solid;
  }
  .move, .header {
    width: 50%;
  }

  .header {
    line-height: 48px;
    font-size: 28px;
  }
}

.info {
  width: 100%;
  line-height: 68px;
  font-size: 48px;
}